<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <style>
        
    </style>
</head>
<body>
<div>
    
        <div style="margin:0 80px"><p>Your Gold </p><input class="gold" type="text">
        </div>
        <center>
        <div class="container">
            <div class="card">
                <h3>Farm</h3>
                <p>(earns 10 to 20 golds)</p>
                <form action="">
                    <button>find gold</button>
                </form>
            </div>
            <div class="card">
                <h3>cave</h3>
                <p>(earns 5 to 10 golds)</p>
                <form action="">
                    <button>find gold</button>
                </form>
            </div>

            <div class="card">
                <h3>House</h3>
                <p>(earns 2 to 5 golds)</p>
                <form action="">
                    <button>find gold</button>
                </form>
            </div>
            
            <div class="card">
                <h3>Casino</h3>
                <p>(earns 0 to 50 golds)</p>
                <form action="">
                    <button>find gold</button>
                </form>
            </div>
            
        </div>
    </center>
    <center style="margin:0 80px">
        <p style="text-align: left;">Activities</p>

        <textarea style="width: 100%;" name="" id="" cols="30" rows="10"></textarea>
    </div>
    
    </center>

</body>
</html>