<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <a href="/">go back</a>
    <h1>Add a new show</h1>
    <form action="/shows/sth" method="POST">
        {%csrf_token%}
        <h5>Title</h5>
    <input type="text" name="form_title" >
    <h5>Network</h5>
    <input type="text" name="form_network">
    <h5>Release Date</h5>
    <input type="date" name="form_res_date">
    <h5>Description</h5>
    <textarea  name="form_desc"cols="30" rows="10"></textarea>
    <input type="submit" value="Create">
    </form>
</body>
</html>