<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="login_type" value="login">
        {%csrf_token%}
        Name: <input type="text" name="name" value=""/>
        Password <input type="password" name="password" value="">
        <input type="submit" name="submit" value="login">
    </form>
    <h1>Registration</h1>
    <form action="/login" method="POST">
        <!--action should be the same for both forms so we can use hidden input-->
        <input type="hidden" name="login_type" value="registration">
        <!--hidden input : the same name but different values -->
        {%csrf_token%}
        Name: <input type="text" name="name" value=""/>
        Password <input type="password" name="password" value="">
        <input type="submit" name="submit" value="Register">
    </form>
    <table>
        
    </table>
</body>
</html>